.cat-blog-feed {
  margin-bottom: #{$line-height-base}em;

  .cat-feed-item {
    margin-bottom: #{$line-height-base / 2}em;
    .cat-feed-item-date {
      color: $gray-light;
      font-size: 90%;
    }
    .cat-feed-item-title {

    }
  }

  .cat-feed-more {
    //text-align: center;
  }

  h5 {
    font-weight: bold;
  }
}
