.search-panel {
  $row-gap: 10px;

  .panel-body {
    margin-bottom: -$row-gap;
  }

  .input-group {
    margin-bottom: $row-gap;
  }

  .search-button {
    margin-bottom: $row-gap;
  }

  .nav.nav-tabs {
    margin-left: 15px;
    border-bottom: none;

    > li > a:hover {
      background-color: inherit;
      text-decoration: underline;
    }

    > li.active > a {
      background-color: $panel-bg;
    }

    > li.active > a:hover {
      background-color: $panel-bg;
      text-decoration: none;
    }
  }
}
