- html ||= {}

.sort(class="#{html[:class]}")
  =< ractive_component "app.components.SortFieldSelect",
    i18n_key: scope.search_engine_adapter.i18n_key,
    search_request: search_request,
    searches_path: searches_path(scope: scope),
    sortable_fields: scope.sortable_fields
