#hits {
  .pagination {
    display: block;
    text-align: right;

    @media (max-width: $screen-sm-min) {
      text-align: left;
      .btn-group {
        display: table;
        width: 100%;
        border-collapse: collapse;

        > .btn {
          float: none;
          display: table-cell;
          width: auto;
        }
      }
    }
  }

  .sort {
    @media (max-width: $screen-sm-min) {
      margin-bottom: $line-height-computed / 2;

      .btn-group {
        width: 100%;
        > button.btn {
          width: 100%;
        }
      }
    }
  }

  .hit {
    @include clearfix();

    padding-bottom: $line-height-computed / 2;
    margin-bottom: $line-height-computed / 2;
    border-bottom: 1px solid $gray-light;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    $hit-image-width: 55px;

    .image {
      display: none;

      img {
        @extend .img-responsive;
      }

      @media (min-width: $screen-sm-min) {
        display: block;
      }

      float: left;
      width: $hit-image-width;
      margin-right: $line-height-computed;
    }

    .metadata {
      @media (min-width: $screen-sm-min) {
        margin-left: $hit-image-width + $line-height-computed;
      }

      .title {
        font-weight: bold;
      }

      .is-part-of {
        font-style: italic;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
      }
    }
  }
}
