#hits {
  .pagination {
    @media (max-width: $screen-sm-min) {
      text-align: left;
      width: 100%;

      .btn-group {
        display: table;
        width: 100%;
        border-collapse: collapse;

        > .btn {
          float: none;
          display: table-cell;
          width: auto;
        }
      }
    }
  }

  .sort {
    @media (max-width: $screen-sm-min) {
      width: 100%;

      .btn-group {
        width: 100%;
        > button.btn {
          width: 100%;
        }
      }
    }
  }

  .hit {
    @include hit-list-item;
  }
}
