#items {
  .tools {
    text-align: right;
    background-color: $gray-lightest;
    padding: 5px 10px;
  }

  td.state {
    width: 10px;

    &.available {
      background-color: $item-available-color;
    }

    &.not-available {
      background-color: $item-not-available-color;
    }

    &.restricted-available {
      background-color: $item-restricted-available-color;
    }
  }
}
