.search-panel {
  $row-gap: $line-height-computed / 2;

  .panel-body {
    padding-bottom: $panel-body-padding - $row-gap;
  }

  .input-group,
  .search-button {
    margin-bottom: $row-gap;
  }

  .nav.nav-tabs {
    margin-left: $panel-body-padding;
    border: none;

    > li > a,
    > li > a:hover {
      background-color: transparent;
      border: none;
      border-top-style: solid;
      border-top-width: 2px;
      border-top-color: transparent;
    }

    > li > a:hover {
      text-decoration: underline;
    }

    > li.active > a,
    > li.active > a:hover {
      color: $text-color;
      background-color: $panel-bg;
      border-top-color: $brand-primary;
    }

    > li.active > a:hover {
      text-decoration: none;
    }
  }

  .search-bar {
    //
    // Make the search bar elements visually identical to the
    // search result and facet panels.
    //
    @media screen and (min-width: $screen-md-min) {
      .search-bar-row {
        margin-left: -$grid-gutter-width;
        margin-right: -$grid-gutter-width;
      }

      .search-bar-query-row,
      .search-bar-submit-button-row {
        margin-left: 0;
      }
    }
    // END


    .visible-xs {
      .btn-group {
        width: 100%;
      }

      button {
        width: 100%;
      }

      .query {
        input {
          border-top-style: none;
        }
      }

      .add-remove-query {
        button {
          border-top-style: none;
          width: 50%;

          &:first-child {
            left: 0px;
          }

          &:last-child {
            border-left-style: none;
            right: -1px;
          }
        }
      }

      .search-button {
        margin-bottom: 0;
      }

      .row {
        margin-bottom: $row-gap;
      }
    }
  }
}
