button.btn.btn-link(
  data-content="{{item.description.description}}"
  data-placement="top"
  data-toggle="popover"
  decorator="bootstrap_popover"
  style="border: none; font-size: 13px; padding: 0;"
  title="{{item.description.title}}"
)
  | {{item.description.title}}
