.record {
  table > tbody > tr > td {
    font-size: $font-size-small;
    padding-top: $table-cell-padding * 3/4;
    padding-bottom: $table-cell-padding * 3/4;
  }

  .properties-table {
    tr td:first-child {
      width: 150px;
    }
  }

  .record-items {
    thead {
      border-bottom: none;
    }

    tr td:first-child {
      width: 5px;

      &.available {
        background-color: $brand-success; //mediumseagreen;
      }

      &.not-available {
        background-color: $brand-danger; // orangered;
      }

      &.restricted-available {
        background-color: gold; // $brand-warning;
      }
    }
  }
}
