@mixin checkable-facet {
  // http://stackoverflow.com/questions/12468359/using-font-awesome-icon-for-bullet-points-with-a-single-list-item-element
  // http://fortawesome.github.io/Font-Awesome/cheatsheet/
  //
  // TODO
  // - make the top: 2px something variable/relative/dependent on bootstrap
  li {
    padding-left: $panel-body-padding;

    &.default:before {
      position: absolute;
      left: $panel-body-padding;
      top: 2px;
      font-family: FontAwesome;
      content: "\f096\00a0"; // \00a0 is &nbsp;
    }

    &.included:before {
      position: absolute;
      left: $panel-body-padding;
      top: 2px;
      font-family: FontAwesome;
      content: "\f046\00a0";
    }

    &.excluded {
      a { 
        text-decoration: line-through;
      }

      &:before {
        position: absolute;
        left: $panel-body-padding;
        top: 2px;
        font-family: FontAwesome;
        content: "\f00d\00a0";    
      }
    }
  }
}
