// // Fonts
// @font-face {
//   font-family: "Signika";
//   font-style: normal;
//   font-weight: 400;
//   src: local("Signika"), local("Signika-Regular"), font-url("Signika.woff") format("woff"); }
// @font-face {
//   font-family: "Signika";
//   font-style: normal;
//   font-weight: 700;
//   src: local("Signika-Bold"), font-url("Signika-Bold.woff") format("woff"); }

// body {
//   font-family: "Signika", "Helvetica Neue", Helvetica, Arial, sans-serif;
// }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@import "./application/variables";
@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
@import "bootstrap/scaffolding";
@import "bootstrap/buttons";
@import "bootstrap/tables";
@import "bootstrap/labels";
//@import "font-awesome";
@import "application/mixins/**/*";
@import "application/components/*";

#global-message-wrapper,
#navbar-wrapper .navbar-collapse,
#navbar-wrapper .navbar-toggle,
#alerts-wrapper,
#breadcrumb,
#claim-wrapper,
#footer-image,
.to_top,
.search-panel,
.sidebar,
#facets,
#hits .panel .panel-heading,
.panel .panel-heading .text-right,
.panel .panel-footer,
.record .dropdown {
  display: none;
}

#navbar-wrapper {
  margin-bottom: $line-height-computed;
  .logo {
    max-width: 200px;
  }
}

dl dd {
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  margin-start: 0;
}

footer {
  margin-top: $line-height-computed;
  padding-top: $line-height-computed / 2;
  border-top: 1px solid $gray-light;
}

table {
  border: 1px solid $gray-light;
  border-collapse: collapse;
}

#record {
  .image,
  .tools .btn,
  ul.nav-tabs,
  .panel .panel-heading {
    display: none;
  }
}
