// Fonts
@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: 400;
  src: local("Signika"), local("Signika-Regular"), font-url("Signika.woff") format("woff"); }
@font-face {
  font-family: "Signika";
  font-style: normal;
  font-weight: 700;
  src: local("Signika-Bold"), font-url("Signika-Bold.woff") format("woff"); }

//
// Bootstrap and application variables
//
$bootstrap-loaded: false;
@import "./application/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
$bootstrap-loaded: true;

//
// vendor assets
//
@import "animate";
@import "font-awesome";
//@import "jquery-tablesorter/theme.bootstrap";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/slider";

//
// application css
//
@import "./application/**/*";
