<h4>
  Sie haben eine Frage zur Recherche oder benötigen Hilfe in der Benutzung?
</h4>
<p>
  E-Mail: <a href="mailto:information@ub.uni-paderborn.de">information@ub.uni-paderborn.de</a>
  <br/>
  Telefon: 05251 / 602017
  <br/>
  Servicezeiten: Mo - Do: 8.00 - 19.00 Uhr, Fr: 8.00 - 15.30 Uhr
  <br/>
</p>
<p>
  <!-- http://www.LiveZilla.net Chat Button Link Code --><a href="javascript:void(window.open('https://chat.uni-paderborn.de/chat.php?ws=YmlibGlvdGhlaw==&acid=add65','','width=590,height=725,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))"><img src="https://chat.uni-paderborn.de/image.php?ws=YmlibGlvdGhlaw==&amp;acid=40ffd&amp;id=1&amp;type=inlay" width="160" height="40" border="0" alt="LiveZilla Live Chat Software"></a><!-- http://www.LiveZilla.net Chat Button Link Code -->
</p>
