#tracking-vars(data=@tracking_vars)

- if Rails.configuration.x.piwik_domain.present? && Rails.configuration.x.piwik_site_id.present?
  javascript:
    var _paq = _paq || [];

    // Setup custom vars based on trackings vars.
    var trackingVarsSearchScope = document.getElementById("tracking-vars").getAttribute('data-search-scope');
    var trackingVarsFacetSearch = document.getElementById("tracking-vars").getAttribute('data-facet-search');
    if (trackingVarsSearchScope) {
      _paq.push(['setCustomVariable', 1, 'SearchScope', trackingVarsSearchScope, 'page']);
    }
    if (trackingVarsFacetSearch === 'true') {
      _paq.push(['setCustomVariable', 2, 'FacetSearch', 'true', 'page']);
    }
    // end custom vars

    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://#{Rails.configuration.x.piwik_domain}/";
      _paq.push(["setTrackerUrl", u+"piwik.php"]);
      _paq.push(["setSiteId", "#{Rails.configuration.x.piwik_site_id}"]);
      var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
      g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
