{{#if can_be_rendered}}
  {{#facet}}
    <div class="facet histogram-facet {{name}}">
      <div class="panel panel-primary">
        <div class="panel-heading panel-cutoffcorner">
          <h3 class="panel-title">
            {{ t("facets." + name, {defaultValue: name}) }}
          </h3>
        </div>

        <div class="panel-body">
          {{#if selected_by_search_request}}
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="{{deselect_path}}">
                  <i class="fa fa-check-square-o"></i>
                  <div class="label label-info">
                    {{min_key}} - {{max_key}}
                  </div>
                </a>
              </li>
            </ul>
          {{/if}}

          <sparkline class="visible-md-block visible-lg-block" style="height: 30px; width: 100%"/>

          <div class="row">
            <div class="col-xs-5 col-md-5 col-lg-4">
              <lowerkeyinput style="height: 28px" />
            </div>

            <div class="col-xs-5 col-xs-offset-2 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-4">
              <upperkeyinput style="height: 28px;" />
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-sm-12">
              <slider style="margin-left: 0.6em; margin-right: 0.6em" />
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-sm-12">
              <button class="btn btn-default btn-sm btn-block" on-click="update_search_result">
                {{ t("components.HistogramFacet.update_search_result") }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/facet}}
{{/if}}
