$upb-blue: #00205b;
$upb-cyan: #18b0e2;
$upb-gray: #c7c9c7;
$upb-gray-dark: #555555;

$brand-primary: $upb-cyan;
$gray-darker: #2d2d32;
$gray-dark: $upb-gray-dark;
$gray: $upb-gray;
$gray-light: #e3e4e3;
$gray-lighter: #ededed;
$gray-lightest: #f5f5f5;

$item-available-color: #66b357;
$item-not-available-color: #d64333;
$item-restricted-available-color: #fabc0a;

$grid-float-breakpoint: 992px;

$content-area-bg: $gray-lighter;

$font-size-base: 14px;
$font-family-sans-serif: "Signika", "Helvetica Neue", Helvetica, Arial, sans-serif;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$text-color: $gray-dark;

$input-color: $gray-dark;

$panel-default-text: $text-color;

$link-color: $upb-blue;
$link-hover-color: $brand-primary;
$link-hover-decoration: none;

$nav-tabs-active-link-hover-color: $text-color;

$table-bg-accent: $gray-lightest;
$table-border-color: $gray-light;
