- content_for("breadcrumb.prefix") do
  li = link_to "Universitätsbibliothek", "http://www.ub.uni-paderborn.de/"
  li = link_to "Recherchieren", "http://www.ub.uni-paderborn.de/recherchieren"

= render_engine_template
