.navbar-sidebar {
  margin-bottom: 0;

  .navbar-header {
    margin-bottom: $font-size-base;
  }

  .navbar-toggle {
    border-color: $btn-default-border;
    margin: 0;
    width: 100%;

    .fa.fa-bars {
      font-size: 14px;
    }
  }

  .navbar-collapse {
    padding: 0;
  }

  .nav-pills.nav-stacked {
    margin-bottom: $font-size-base;

    li a {
      padding: 5px 0;
    }

    li + li {
      margin-top: 0;
    }

    li {
      i, span {
        vertical-align: middle;
      }
    }
  }
}
