.search-request
  | {{#each search_request.queries}}
  .row.query-string-query
    .col-sm-7
      .input-group
        input.form-control.query(autocomplete="off" autofocus="" placeholder="Suchbegriff" value="{{query}}" on-keypress="KeypressInSearchInput")
        .input-group-btn
          select.field(decorator="bootstrap_simple_select" value="{{default_field}}")
            |{{#searchable_fields}}
            option(value="{{this[0]}}")
              | {{this[1]}}
            |{{/searchable_fields}}

    .col-sm-2
      .btn-group
        button.btn.btn-default(type="button" on-click="AddQuery")
          i.fa.fa-plus-circle

        button.btn.btn-default type="button" class=="{{search_request.queries.length == 1 ? 'disabled' : ''}}" on-click="RemoveQuery"
          i.fa.fa-minus-circle

    | {{#if search_request.queries.length == 1}}
    .col-sm-2
      button.btn.btn-primary.form-control(on-click="SubmitSearchRequest")
        = t("app.components.SearchBar.search")
    | {{/if}}
  | {{/each}}

  | {{#if search_request.queries.length > 1}}
  .row
    .col-sm-2
      button.btn.btn-primary.form-control(on-click="SubmitSearchRequest")
        = t("app.components.SearchBar.search")
  | {{/if}}
